.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: none;
}
.modal-content {
    padding: 30px;
    background-color: #dfeac8;
}
.tab-content {
    border: none;
    padding: 20px 0 0;
}
.nav-tabs {
    border: none;
}
.nav-tabs .nav-link {
    border: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #20505e;
    color: white;
}
.btn-green:hover {
    color: #fff;
    background-color: #20505e;
    border-color: #20505e;
}
.btn-green {
    color: #fff;
    background-color: #20505e;
    border-color: #20505e;
}
.g-recaptcha div {
    text-align: center;
    margin: 0 auto;
}
#partitioned_pin {
    margin: 0 20px;
    letter-spacing: 30px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-position-x: center;
    background-size: 42px 1px;
    background-repeat: repeat-x;
    background-position-x: 28px;
    width: 220px;
    direction: ltr;
    font-size: 22px;
    padding: 0 0 0 7px;
    height: 40px;
}
.profile-info-name:hover .edit-profile-image {
    display: block!important;
}

.teacher-info {
    position: absolute;
    height: 50px;
    top: -30px;
    right: 15px;
    background: white;
    border: 1px solid #84848482;
    border-radius: 25px;
    padding: 3px 10px;
}

.teacher-info img {
    width: auto;
    height: 100%;
}

.teacher-info span {
    display: inline-block;
    position: relative;
    top: -3px;
    right: 5px;
}

.card{
    border: 2px solid #0000003d;
    border-radius: 10px;
    overflow: hidden;
}

.card-body{
    position: relative;
    background: #71707069;
}

.move-up:hover {
    top: -10px;
    transform: scale(1.1);
    transition: 1s ease;
}

.flipper {
    color: #333;
    display: block;
    font-size: 50px;
    line-height: 100%;
    padding: 0;
    margin: 0;
    height: 1.7em;
  }
  .flipper.flipper-invisible {
    font-size: 0px !important;
  }
  
  .flipper-group {
    position: relative;
    white-space: nowrap;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
  }
  .flipper-group label {
    position: absolute;
    color: #000;
    font-size: 20%;
    top: 100%;
    line-height: 1em;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    text-align: center;
    padding-top: .5em;
  }
  
  .flipper-digit {
    white-space: nowrap;
    position: relative;
    padding: 0;
    margin: 0;
    display: inline-block;
    float: left;
    height: 1.2em;
    overflow-y: hidden;
  }
  .flipper-digit span {
    font-size: 25%;
  }
  
  .flipper-delimiter {
    white-space: nowrap;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    color: #fff;
    min-width: .1em;
    white-space: nowrap;
    display: block;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    line-height: 1em;
  }
  
  .digit-face {
    display: block;
    visibility: hidden;
    position: relative;
    border-radius: 0.1em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    box-sizing: border-box;
    text-align: center;
  }
  
  .digit-next {
    display: block;
    position: relative;
    border-radius: 0.1em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    height: 1.2em;
    background: #fff;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    box-sizing: border-box;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .digit-top {
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    background: #fff;
    padding-top: 0.1em;
    padding-bottom: 0;
    padding-left: 0.1em;
    padding-right: 0.1em;
    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;
    box-sizing: border-box;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: background 0s linear, -webkit-transform 0s linear;
    transition: transform 0s linear, background 0s linear;
    transition: transform 0s linear, background 0s linear, -webkit-transform 0s linear;
    -webkit-transform-origin: 0 0.6em 0 !important;
            transform-origin: 0 0.6em 0 !important;
    -webkit-transform-style: preserve-3d !important;
            transform-style: preserve-3d !important;
    z-index: 20;
  }
  .digit-top.r {
    transition: background 0.2s linear, -webkit-transform 0.2s linear;
    transition: transform 0.2s linear, background 0.2s linear;
    transition: transform 0.2s linear, background 0.2s linear, -webkit-transform 0.2s linear;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    background: #cccccc;
  }
  
  .digit-top2 {
    visibility: hidden;
    position: absolute;
    height: 50%;
    left: 0;
    right: 0;
    background: #cccccc;
    transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    line-height: 0em !important;
    top: 50% !important;
    bottom: auto !important;
    padding-top: 0;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    border-bottom-left-radius: 0.1em;
    border-bottom-right-radius: 0.1em;
    overflow: hidden;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: background 0s linear, -webkit-transform 0s linear;
    transition: transform 0s linear, background 0s linear;
    transition: transform 0s linear, background 0s linear, -webkit-transform 0s linear;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    -webkit-transform-style: preserve-3d !important;
            transform-style: preserve-3d !important;
    -webkit-transform-origin: 0 0 0 !important;
            transform-origin: 0 0 0 !important;
    z-index: 20;
  }
  .digit-top2.r {
    visibility: visible;
    transition: background 0.2s linear 0.2s, -webkit-transform 0.2s linear 0.2s;
    transition: transform 0.2s linear 0.2s, background 0.2s linear 0.2s;
    transition: transform 0.2s linear 0.2s, background 0.2s linear 0.2s, -webkit-transform 0.2s linear 0.2s;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    background: #fff;
  }
  
  .digit-bottom {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    background: #fff;
    height: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    line-height: 0em;
    padding-top: 0;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    border-bottom-left-radius: 0.1em;
    border-bottom-right-radius: 0.1em;
    box-sizing: border-box;
    text-align: center;
    transition: none;
  }
  .digit-bottom.r {
    transition: background 0.2s linear;
    background: #cccccc;
  }
  
  .flipper-digit:after {
    content: "";
    position: absolute;
    height: 2px;
    background: rgba(0, 0, 0, 0.5);
    top: 50%;
    display: block;
    z-index: 30;
    left: 0;
    right: 0;
  }
  
  .flipper-dark {
    color: #fff;
  }
  .flipper-dark .flipper-delimiter {
    color: #333;
  }
  .flipper-dark .digit-next {
    background: #333;
  }
  .flipper-dark .digit-top {
    background: #333;
  }
  .flipper-dark .digit-top.r {
    background: black;
  }
  .flipper-dark .digit-top2 {
    background: black;
  }
  .flipper-dark .digit-top2.r {
    background: #333;
  }
  .flipper-dark .digit-bottom {
    background: #333;
  }
  
.flipper-dark-labels .flipper-group label {
    color: #333;
}

.countdown-container {
  position: absolute;
  bottom: 10px;
  width: 85%;
  min-height: 80px;
}

